.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px;
  transition: .5S;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: white;
}

.navbar h1{
  color: #E41616;
}
.navbar a{
  color: #E41616;
  text-decoration: none;
}

.navbar a:hover {
  text-shadow: 1px 1px 2px pink;
  outline: 0;
}

.banner {
  background: linear-gradient(to left bottom, #E41616, #8F2323);
  background-size: cover;
  background-position: center;
  padding-top: 190px;
  padding-bottom: 170px;

}

.banner h1 {
  font-size: 80px;
  color: white;
}

.banner-title {
  font-size: 40px;
  color: white;
}

.mail {
  border: solid 0.01em white;
  margin: auto;
  border-radius: 5px;
  height: 40px;
  width: 5%;
  box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.25);
  text-align: center;
  line-height: 2.3;
}

 .mail:hover {
  background-color: white;
  color: red;
  border: solid 0.08em red;
  font-weight: bold;
  opacity: 0.9;
}

a {
  text-decoration: none;
  color: white;
}

.container2 {
  display: inline-block;
  margin: auto;
  margin-left: 500px;
}

.story {
  margin-bottom: 200px;
}

.about-me {
  margin-top: 150px;
}

.container-story {
  display: flex;
  margin-top: 50px;
  margin-left: 50px;
}

.photoself {
  width: 40%;
}

.wagon-logo {
  display: table;
  margin-left: 780px;
  margin-top: -225px;
}

.photowagon {
  max-width: 15%;
}

.whats {
  padding-top: 20px;
  margin-bottom: 40px;
}

.looking {
  background-color: #FFF3F3;
  padding-top: 50px;
  padding-bottom: 50px;
}

.aboutme {
  width: 400px;
  height: 170px;
  background: white;
  box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 150px;
}

.aboutme2 {
  width: 400px;
  background: white;
  box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 100px;
}

.work {
  background-color: #FFF3F3;
  padding-top: 100px;
  padding-bottom: 150px;
}

/*.work h2 {
  text-decoration: underline;
}*/

.work a {
  color: red;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
}

.photo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.photowork {
  width: 30%;
}

.work-description {
  width: 400px;
  height: 145px;
}

.certification {
  margin: auto;
  display: block;
  padding-bottom: 150px;
  padding-top: 100px;
}

.wagon {
  margin-top: 100px;
  margin-left: 300px;
  box-shadow: 0px 20px 60px 0px #dde5ee;
}

.description-work {
  background-color: white;
  box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 40px;
  text-align: center;
}

.skills {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: white;
}

.soft-skills {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-around;
}

.stars {
  display: flex;
  justify-content: space-around;
}

.first-skills {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.second-skills {
  display: flex;
  justify-content: center;
}

.skills-describe {
  display: flex;
  justify-content: space-around;
}

.position {
  display: flex;
  justify-content: space-between;
}

.html hr {
  border: solid 2.5px #5CB85C;
  width: 400px;
}

.css hr {
  border: solid 2.5px #5CB85C;
  width: 400px;
}

.figma {
  margin-top: 50px;
}

.figma hr {
  border: solid 2.5px #5BC0DE;
  width: 300px;
}

.ruby hr {
  border: solid 2.5px #FFDC63;
  width: 200px;
}

.react hr {
  border: solid 2.5px #FFDC63;
  width: 200px;
}

.third-skills {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.contact {
  background-color: #FFF3F3;
  margin-top: 30px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 100px;
}

.contact a {
  color: #E41616;
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  font-family: "monoton";
  text-decoration: none;
}
.contact p {
  color: #E41616;
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  font-family: "monoton";
}

.group-contact{
  margin-left: 520px;
  display: flex;
  align-items: space-between;
  justify-content: space-around;
}

.perso {
  margin-top: 70px;
  margin-right: 200px;
}

.initiales {
  display: flex;
  justify-content: flex-end;
  margin-top: 70px;
  margin-right: 200px;
}

.links {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.link {
  margin: 10px;
}

.footer {
  display: flex;
  justify-content: center;
}

.love {
  padding: 0 .4rem;
  animation: 1.5s heartThrob infinite;
}

.love svg {
  height: 1.5rem;
}

footer {
  justify-content: center;
  display: flex;
  width: 100%;
  padding-top: 30px;
  background-color: white;
  text-align: center;
}

h2 {
  color: red;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

img {
  max-width: 100%
}
